body {
  background-color: #F5F5F5;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #0066CC;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 100px;
  margin-bottom: 1rem;
}

.App-header {
  background-color: #333;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
